
<div class="signup-form-wrapper">

    <div  class="signup-form-container">
        <div id="signup-form-header">
            <h1>Sign in</h1>
            <p>No credit card required!</p>    
        </div>
        
        <form [formGroup]="signupForm" (ngSubmit)="login()" class="p-fluid" id="signup-form">
        <span class="p-float-label auth-form-item">
            <input pInputText id="email" formControlName="email" />
            <label for="email">Email</label>
        </span>

        <span class="p-float-label auth-form-item">
            <p-password formControlName="password" [feedback]="false" id="password"></p-password>
            <label for="password">Password</label>
        </span>

       <div id="login-button-wrapper">
           <p-progressSpinner class="progress-spinner" *ngIf="resolving" styleClass="w-1rem h-1rem" strokeWidth="3" fill="var(--surface-ground)" animationDuration=".8s"></p-progressSpinner>
           <p-button *ngIf="!resolving" label="Login" (click)="login()"></p-button>
        </div>
    
        <div id="form-change-link">
            <p>Don't have account? <b [routerLink]="['/auth/signup']" id="auth-form-link">Sign up</b></p>
        </div>
    </form>
    
    </div>
    <div *ngIf="error" class="card">
        <p-messages [(value)]="errorMessages" [enableService]="false" [closable]="true"></p-messages>
    </div>
    <app-confirm-signup id="confirm-signup-dialog" *ngIf="registered" [email]="email"></app-confirm-signup>
    
    
    </div>