#logo-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
}


@media screen and (max-width: 800px){
    #logo-wrapper img {
        width: 190px;
    }
    
}